#foreground {
  width: 200px;
  height: 133px;
  position: relative;
}
#background {
  width: 200px;
  height: 133px;
}
#title {
  color: #fff;
  position: absolute;
  bottom: 5px;
  left: 48px;
  font-size: 15pt;
  font-family: Arial, sans-serif;
  width: inherit;
  max-height: 30px;
  overflow: hidden;
}
#sharing {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 25px;
  height: 25px;
}
#sharing span{
 vertical-align: top;
}
#title span {
 vertical-align:bottom;
} 