#foreground {
  width: 200px;
  height: 133px;
  position: relative;
}
#background {
  width: 200px;
  height: 133px;
}
#title {
  color: #fff;
  position: absolute;
  bottom: 2px;
  left: 5px;
  font-size: 15pt;
  font-family: Arial, sans-serif;
  width: inherit;
  max-height: 30px;
  overflow: hidden;
  
}
#title span {
 vertical-align:bottom;
} 